.publish, .unpublish{
	width: 10px;
	height: 10px;
	display: inline-block;
}
.publish{
	background-color: green;
}
.unpublish{
	background-color: red;
}
.gestions_dashboard{
	margin: 1% 0;
	padding: 1%;
}
.gestions_dashboard h4{
	cursor: pointer;
}
.gestions_dashboard ul{
	display: none;
}
ul{
	padding-left: 0;
}
ul li{
	padding-left: 20px;
	list-style:none; 
}